<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<jsp-property-group>
		<url-pattern>*</url-pattern>
		<el-enabled>true</el-enabled>
	</jsp-property-group>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:logging/log4j.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
	</listener>
	<servlet>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-class>com.nacre.servlet.FormServlet</servlet-class>
		<servlet-name>FormServlet</servlet-name>
		<init-param>
			<param-name>xsd</param-name>
			<param-value>/test.xsd</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/FormServlet</url-pattern>
	</servlet-mapping>
</web-app>
